$main-bg: #fff;
$main-color: #4267b2;
$main-color-red: hsl(0, 90%, 45%);

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white-color: #fff;

$btn-main-bg: $main-color-red;
$btn-main-color: $txt-white-color;

$header-height: 17rem;
$header-tablet-height: 7rem;
$header-mobile-height: 4rem;
$header-shrink-height: 7rem;

// $header-height: 170px;
// $header-tablet-height: 70px;
// $header-mobile-height: 40px;
// $header-shrink-height: 70px;

$box-shadow : rgba(149, 157, 165, 0.2) 0px 8px 24px;

$colors: (
    "blue" : #4267b2,
    "red" : #da0b0b,
    "orange" : #fbb96b,
    "pink" : #fe7e73,
    "white" : #fff8f7,
    "black" : #000,
    "main" : $main-color-red
);

$mobile-width: 600px;
$tablet-width: 1024px;

$numbers: (0,1,2,3,4,5,6,7,8);
