.contact-card {
    @include flex(center, center);
    flex-direction: column;
    padding: 2rem 0rem;
    margin: 4rem 0rem;
    box-shadow: $box-shadow;
    transition: transform 0.5s ease;

    &:hover {
        transform: translateY(-2rem);
    }

    &__icon {
        @include flex(center, center);
        width: 40%;
        // color: $main-color-red;
        // border: 1px solid black;
        i {
            font-size: 3rem;
        }
    }

    &__info {
        text-align: center;
        &__name {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        &__description {
            font-size: 1rem;
            margin-bottom: 1rem;
            color: $txt-second-color;
        }
    }
}