.footer{
    padding: 70px 0px;
    box-shadow: $box-shadow;
    font-size: 1.35rem;
    // user-select: text !important; 

    &__logo{
        height: 38px;
    }

    &__about{
        &__social{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            i{
                font-size: 3rem;
            }
            &__item{
                display: flex;
                align-items: center;
                gap: 0.75rem;
            }
        }
        p{
            margin-bottom: 0.75rem;
        }
    }

    &__title{
        text-transform: uppercase;
        margin-bottom: 1.25rem;
        font-size: 1.65rem;
        font-weight: 400;
    }

    &__content{
        &__phonenumber{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            a{
                display: flex;
                align-items: center;
                i{
                    font-size: 1.85rem;
                    margin-right: 0.85rem;
                }
                span{
                    font-size: 1.45rem;
                }
            }
        }
        &__location{
            font-size: 1.45rem;
            font-weight: 300;
        }
        &__header{
            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom: 1rem;
        }
    }
}